<!DOCTYPE html>
<html>
  <head>
    <title>
      Account Creation
    </title>
  </head>
  <body>
    <div>
      <h4>Hello {{first_name}}</h4>
      <div>

        Welcome to GlobeGoExpress! We are thrilled to have you on board. Whether you're shipping locally or globally, we're here to make your logistics journey seamless and efficient.<br />
        
        Here is what you can do next:<br />
        Set Up Your Profile: Complete your profile to get personalized services tailored to your needs.<br />
        Track Your Shipments: Easily monitor your shipments in real-time through your dashboard.<br />
        Explore Services: Discover a range of solutions designed to simplify your logistics operations.<br /><br /><br />
        
        Your Account Details:
        
        Username: {{email}}
        Password: {{password}}
        Need Help?
        Our support team is available to assist you 24/7. You can visit our Help Center.<br /><br /><br />
        
        We are excited to be part of your journey. Lets get moving!<br /><br /><br />
        
        Warm regards,<br />
        The GlobeGoExpress Team


      </div>
    </div>
 

  </body>
</html>


