<!DOCTYPE html>
<html>
  <head>
    <title>
      Account Creation
    </title>
  </head>
  <body>
    <div>
      <h4>Hi {{user_firstname}},</h4>
      <div>
        We appreciate having you as a member of Thane Rivers Fan Club  and we are confident that you will enjoy your experience here with us.<br><br/>
        Your Application Sign in credentials are below.
        
        <br><br>
        Visit https://thanerivers.management.primarypros.com/sign-in and enter your Sign In credentials to start your learning experience
        <br><br>
        Username: {{email}} <br>
        Password: {{password}}<br>
        Your Promo Code is {{promo_code}}Please be aware that this code is still subject to licensing terms."

        <br><br>
        Thank you.
        <br>
        Warm regards!


      </div>
    </div>
 

  </body>
</html>


