<!DOCTYPE html>
<html>
  <head>
    <title>
      Account Creation
    </title>
  </head>
  <body>
    <div>
      <h4>Hi {{user_firstname}},</h4>
      <div>
        We appreciate having you as a member of Thane Rivers Fan Club  and we are confident that you will enjoy your experience here with us.<br><br/>
        Your Application Sign in credentials are below.
        
        <br><br>
        Visit {{site_url}}/sign-in and enter your Sign In credentials to start your learning experience
        <br><br>
        Username: {{user_email}} <br>
        Password: {{user_password}}

        <br><br>
        Thank you.
        <br>
        Warm regards!


      </div>
    </div>
 

  </body>
</html>


