<!DOCTYPE html>
<html>
  <head>
    <title>
      Password Reset
    </title>
  </head>
  <body>
    <div>
      <h4>Hi {{user_firstname}},</h4>
      <div>
        You are receiveing this email because you requested that we reset your password.
        Please if you did not make this request, kindly reach out to us as soon as possible
        
        <br><br>
        Visit our sign-in page and enter your Sign In credentials to continue your learning experience
        <br><br>
        Username: {{user_email}} <br>
        Password: {{password}}

        <br><br>
        Thank you.
        Warm regards!
        <br>

      </div>
    </div>
 

  </body>
</html>


